.footer {
  height: 80px; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #772A23;

  padding: 10px; 
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .footer {
      height: 100px;
      font-size: 0.9rem; 
  }
}

@media (min-width: 1024px) {
  .footer {
      height: 120px;
      font-size: 1rem; 
  }
}