.navbar {
  display: flex;
  flex-direction: column; 
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  
  justify-content: center; 
  align-items: center;
  
  padding: 1em 1em; 
  background-color: #772A23; 
  max-width: 1590px;
  margin: 0 auto; 
  border-radius: 0; 
}

.brand {
  font-size: 1.4em; 
  margin-bottom: 0.5em; 
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap; 
  justify-content: center;
}

.links_list li {
  margin: 0 0.5em 0.5em 0.5em; 
  font-size: 0.9em;
}

.links_list li a {
  padding: 0.3em 0.5em;
}

.active {
  background-color: #D7182A;
  color: #fff;
  border-radius: 100px;
}

@media (min-width: 768px) {
  .navbar {
      flex-direction: row; 
      justify-content: space-between;
      align-items: center;
      
      padding: 0.5em 2em; 
      margin: 10px auto; 
      border-radius: 10px; 
  }

  .brand {
      font-size: 1.6em;
      margin-bottom: 0; 
  }

  .links_list {
      flex-wrap: nowrap; 
  }
  
  .links_list li {
      margin-right: 3em;
      font-size: 1em;
  }
  
  .links_list li:last-child {
      margin-right: 0; 
  }

  .links_list li a {
      padding: 0.4em 0.6em;
  }
}