.navbar {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    background-color: #772A23; 
    max-width: 1590px;
    margin: 10px auto; 
    border-radius: 10px; 
  }
  
  .brand {
    font-size: 1.6em;
  }
  
  .brand span {
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .links_list {
    display: flex;
    list-style: none;
  }
  
  .links_list li {
    margin-right: 3em;
    font-size: 1em;;
  }
  
  .links_list li a {
    padding: 0.4em 0.6em;
  }
  
  .active {
    background-color: #D7182A;
    color: #fff;
    border-radius: 100px;
  }